// Main sidebar
.sidebar-container {
  @include betweenitems;
  flex-direction: column;
  width: 64px;
  height: 100%;
  padding: 16px 0;
  opacity: 0;
  overflow-x: initial;
  overflow-y: initial;
  -webkit-overflow-y: initial;
  -webkit-overflow-scrolling: touch;
  row-gap: 15px;
  &:not(.active) {
    z-index: -1;
  }
  &__content {
    row-gap: 20px;
    @media (max-height: 650px) {
      row-gap: 15px;
    }
    &:first-child:hover {
      z-index: 10001;
    }
  }
  .menu-item {
    display: block;
    position: relative;
    .active {
      display: none;
    }
    &:hover,
    &.is-active {
      .active {
        display: block;
      }
      .default {
        display: none;
      }
    }
  }
  @media only screen and (max-width: 1024px) {
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-y: auto;
    .menu-item {
      &:hover .tooltiptext {
        visibility: hidden;
      }
    }
  }
}
// Sidebar pages
.sidebar-pages {
  @include transitions(all 0.3s);
  border-right: solid 1px $border-color-grey;
  color: $grey-extrlight;
  line-height: 20px;
  font-weight: 500;
  flex: 0 0 auto;
  padding: 24px 8px;
  width: 240px;
  &.is-hide-sidebar {
    width: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    border-right: 0;
    overflow: hidden;
    opacity: 0;
    .tags__info {
      opacity: 0;
    }
  }
  &.--sm {
    width: 200px;
    padding: 12px !important;
    .items {
      cursor: pointer;
    }
  }
  > ul {
    &:not(.wrap-loading) {
      .items {
        border-radius: 4px;
        &:hover {
          background: $btn-hover;
        }
        &:active,
        &.active {
          background: $yellow-light;
        }
        &:hover:not(.svg-noeffect),
        &.active:not(.svg-noeffect) {
          svg {
            path {
              fill: $purple-light;
              &:last-child {
                fill: $purple-default;
              }
            }
            rect,
            circle {
              fill: $purple-default;
            }
          }
          &.svg-sources-default,
          &.svg-name {
            svg {
              path:not(:first-child) {
                fill: $purple-default;
              }
            }
          }
        }
      }
    }
  }
  .items:not(.dropbtn):not(.item-location):not(.tag):not(.item-deleted) {
    @include flexcenter;
    height: 32px;
    padding: 0 10px;
    margin-top: 4px;
    &:not(.svg-star) {
      svg {
        margin-right: 8px;
      }
    }
  }
  .sub-title {
    font-size: 12px;
    line-height: 25px;
    text-transform: uppercase;
  }
  .sub-title,
  .customer-title {
    padding-left: 12px;
  }
  .border-line {
    border-top: 1px solid $border-color-grey;
    margin: 12px;
  }
  .sidebar-title {
    padding: 0px 8px 12px;
    color: $black-2;
  }
}
// New style sidebar pages
.sidebar-left {
  .sidebar-items {
    background: rgba(255, 255, 255, 0.6);
    border-radius: 4px;
    cursor: pointer;
    padding: 4px;
    width: 100%;
    &:hover {
      background: $btn-hover;
    }
    &:active,
    &.active {
      background: $yellow-light;
      box-shadow: $boxshadow-grey-softlight;
    }
    svg {
      flex: 0 0 auto;
    }
  }
}
.sidebar-menu {
  @include transitions(all 0.3s);
  padding: 0 4px 16px 0;
  width: 240px;
  &.is-hide-sidebar {
    width: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    border-right: 0;
    overflow: hidden;
    opacity: 0;
  }
  &__nav {
    gap: 4px;
  }
  .sidebar-items {
    color: rgba(28, 31, 34, 0.8);
    height: 32px;
    padding: 6px;
    &.active {
      color: #333639;
    }
    .title {
      .tooltiptext {
        max-width: 180px;
      }
    }
  }
}
